<footer>
  <div class="epic">
    <div class="row">
      <section class="col-md-3 logo-section hidden-xs">
        <img src="../assets/desmond.png" alt="logo">
      </section>
      <div class="col-md-6 epic-close foreclose">
        <h2 class="text-center">WELCOME TO DESPAT LUXURIES</h2>
        <P>This provides the best of the best service for your and your household inorder to relive your
          burden and stress.... PLease all this is nonescense, The owner will brung up the real
          context or note for this page... Thanks
        </P>
        <p>Please do feel free to contact us any time of the day...</p>
      </div>
      <div class="col-md-3 epic-close">
        <h2> SERVICES</h2>
        <ul class="list-unstyled">
          <li>Building construct</li>
          <li>Interior and exterior design</li>
          <li>Home cleaning service</li>
          <li>Event Planing</li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 text-center fraction">
      <section>
        <section class="extract">
          <ul class="row list-inline">
            <li class="col-md-4 col-4 px-1">Terms and conditions</li>
            <li class="col-md-4 col-4 px-1">Privacy policy</li>
            <li class="col-md-4 col-4 px-1"><a [routerLink]="['contactus']"> Contact Us</a></li>
          </ul>
        </section>
        <div>  <p>&copy;Copyright 2020 Despat Luxuries.
          <span>All rights reserved.</span></p>
        </div>
      </section>
    </div>
  </div>
</footer>
