<footer>
  <div class="row epic">
    <div class="col-md-8 epic-close">
      <h2 class="text-center">WELCOME TO DESPAT LUXURIES</h2>
      <P>This provides the best of the best service for your and your household inorder to relive your
        burden and stress.... PLease all this is nonescense, The owner will brung up the real
        context or note for this page... Thanks
      </P>
      <p>Please do feel free to contact us any time of the day...</p>
    </div>
    <div class="col-md-4 epic-close">
      <h2> SERVICES</h2>
      <p>Building construct</p>
      <p>Interior and Exterior Design</p>
      <p>Home Cleaning Services</p>
      <p>Event Planing</p>
    </div>
  </div>
</footer>
