<section class="half-screen">
  <div class="filler">
    <h2 class="text-center">About Us</h2>
  </div>
</section>
  <section class="about-words">
    <div class="text-center">
      <h2>A Few Words About Us</h2>
      <p>Despat Luxuries is a company that relieve people of the stress of having anxiety
        due to excessive planning of their respectiber big day. We bridge the gap by bring your childhood
        dreams or your actual heart desire to your doorstep. Making Your Dearms Come Through.
      </p>
    </div>
  </section>
  <section class="second-layer fixed-attachment">
    <div class="second-filler">
      <div class="values-section text-center">
        <div class="row">
          <div class="col-md-12 col-12">
            <h2 class="py-2">Our Policy</h2>
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4"><p><strong>Luxury:</strong> We prdie ourselves in delivering outstandingly
                luxurious products, comfort-tailored services, set to surpass clients' expectation</p></div>
              <div class="col-12 col-md-4 col-lg-4"><p><strong>Affordable:</strong> Mind-blowing is the fact that our company matches luxury with affordability.
                We understand the inequalities in the purchasing power of client, hence we provide all products
              and services that appeal to both the eyes and your wallet</p></div>
              <div class="col-12 col-md-4 col-lg-4"><p><strong>Satisfaction:</strong> Positive feedback from a client is the endgame of every services. Becasue
              we acknowledge this, we always work towards leaving smiles on the faces of clients after every service. Our customers'
              satisfaction is our ultimate goal</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="third-layer text-center">
    <p>Despat Luxuries if a new-age 'afforcomfuxury' (Affordable - Comfort - Luxury)
      company committed to rendering bespoke affordably luxurious services tailored to
      clients' comfort and satisfaction. Our team comprises of indegenes and international
      professionals ranging from certified home decorators and space managers l, renowned
      foreign and Nigerian artists, experienced event managers, and veteran cleaners.</p>

    <p>Our operations cut across home interior decoration (P.O.P, furniture & fittings, flooring, space management, gadget/equipment installation),
      event planning and management (weddings, anniversaries, birthday celebrations,
      reunion parties, etc), home and industrial cleaning services, and Art collection,
      supply and installation.</p>

    <p>We pride in our efficiency and timely delivery. Contact us today to experience our
      spectacular 'afforcomfuxury' services.</p>
  </section>
<div>
  <app-mini-contact-us></app-mini-contact-us>
  <app-footer></app-footer>
</div>
