 <section class="service-layer" style="background-image: url(../../assets//dan-cristian-padure-6JD9T94TrqU-unsplash.jpg);">
  <div class="service-double-layer">
    <h2>Art Collection, Supply And Installation</h2>
  </div>
 </section>
  <div class="overlay">
    <div class="">
        <div class="mySlides fade">
          <img src="../../assets/mike-von-aaWaG-raMNw-unsplash.jpg" alt="">
        </div>
        <div class="mySlides fade services-adjuster">
          <img src="../../assets/mike-von-5mM-aZ2PT7M-unsplash.jpg" alt="">
        </div>
        <div class="mySlides fade">
          <img src="../../assets/dan-cristian-padure-pBTaHtb20AA-unsplash.jpg" alt="">
        </div>
        <div class="mySlides fade">
          <img src="../../assets/mike-von-wM1xr63GNc0-unsplash.jpg" alt="">
        </div>
        <div class="mySlides fade">
          <img src="../../assets/mike-von-v9-ZW3VONcw-unsplash.jpg" alt="">
        </div>
    </div>

</div>

