<section class="service-layer" style="background-image: url(../../assets/siim-lukka-S8E5a5ZlkNc-unsplash\ \(1\).jpg);">
  <div class="service-double-layer">
    <h2>Event Planning</h2>
  </div>
 </section>
 <div class="overlay">
  <div class="">
      <div class="mySlides fade">
        <img src="../../assets/ibrahim-boran-m8YjB0noWiY-unsplash.jpg" alt="">
      </div>
      <div class="mySlides fade services-adjuster">
        <img src="../../assets/jeremy-wong-weddings-K8KiCHh4WU4-unsplash.jpg" alt="">
      </div>
      <div class="mySlides fade">
        <img src="../../assets/shardayyy-photography-fJzmPe-a0eU-unsplash (1).jpg" alt="">
      </div>
      <div class="mySlides fade">
        <img src="../../assets/photos-by-lanty-O38Id_cyV4M-unsplash.jpg" alt="">
      </div>
      <div class="mySlides fade">
        <img src="../../assets/marc-babin-aQWmCH_b3MU-unsplash.jpg" alt="">
      </div>
  </div>

</div>
