<section class="service-layer" style="background-image: url(../../assets/the-creative-exchange-cpIgNaazQ6w-unsplash.jpg);">
  <div class="service-double-layer">
    <h2>Home Services</h2>
  </div>
 </section>
 <div class="overlay">
  <div class="">
      <div class="mySlides fade">
        <img src="../../assets/ashwini-chaudhary-Iu6parQAO-U-unsplash.jpg" alt="">
      </div>
      <div class="mySlides fade services-adjuster">
        <img src="../../assets/olumide-bamgbelu-edUFT7_OHQ0-unsplash (1).jpg" alt="">
      </div>
      <div class="mySlides fade">
        <img src="../../assets/nino-maghradze-BUXdQh53eis-unsplash.jpg" alt="">
      </div>
      <div class="mySlides fade">
        <img src="../../assets/christine-sandu-lf1yaJcL9OA-unsplash.jpg" alt="">
      </div>
      <div class="mySlides fade">
        <img src="../../assets/the-creative-exchange-cpIgNaazQ6w-unsplash.jpg" alt="">
      </div>
  </div>

</div>
