<section class="service-layer" style="background-image: url(../../assets/jason-briscoe-UV81E0oXXWQ-unsplash.jpg);">
  <div class="service-double-layer">
    <h2>Interior and Exterior Planning</h2>
  </div>
 </section>
 <div class="overlay">
  <div class="">
      <div class="mySlides fade">
        <img src="../../assets/john-salvino-oXSm8kL1yL4-unsplash.jpg" alt="">
      </div>
      <div class="mySlides fade services-adjuster">
        <img src="../../assets/jason-briscoe-UV81E0oXXWQ-unsplash.jpg" alt="">
      </div>
      <div class="mySlides fade">
        <img src="../../assets/dan-gold-4HG3Ca3EzWw-unsplash.jpg" alt="">
      </div>
      <div class="mySlides fade">
        <img src="../../assets/aaina-sharma-J8iOJZEPFQ4-unsplash.jpg" alt="">
      </div>
      <div class="mySlides fade">
        <img src="../../assets/chastity-cortijo-98WE9hWWjiQ-unsplash.jpg" alt="">
      </div>
  </div>

</div>
