<div class="level">
  <section>

  </section>
</div>
<section class="level2">
  <p class="py-1 heading">Missions</p>
  <section class="my-2">
    <p class="px-2">Based on what ever stuff desmond wants to write... but the major problem is that such write up may comes up in the next two years</p>
  </section>
</section>

<div class="container-fluid">
  <div>
    <p class="text-center"><span>Our Executive Services</span></p>

    <div class="rear">
      <div class="column scale">
        <img src="../../assets/pexels-vecislavas-popa-1571457.jpg" class="img-responsive" alt="">
            <div class="content-1">
              <h1>Interior design</h1>
            </div>
      </div>
      <div class="column scale">
        <img src="../../assets/pexels-pixabay-48889.jpg" class="img-responsive" alt="">
            <div class="content-1">
              <h1>Planing, Home Cleaning</h1>
            </div>
      </div>
      <div class="column scale">
        <img src="../../assets/annie-spratt-tKpA64QrccM-unsplash.jpg" class="img-responsive" alt="">
            <div class="content-1">
              <h1>Event Planing</h1>
            </div>
      </div>
      <div class="column scale">
        <img src="../../assets/class3.jpeg" class="img-responsive" alt="">
            <div class="content-1">
              <h1>Exterior design</h1>
            </div>
      </div>
      <div></div>

    </div>
  </div>

</div>


