.level2{
  padding: 5vh 35vh;
  text-align: center;
  background-color: white;
}
.level2 .heading{
  font-size: x-large;
  font-weight: 900;
  font-variant: all-petite-caps;
  font-style: italic;
}

.level2 p{
  font-size: medium;
}

.level2 .heading, .level2 p{
  font-family: Arial, Helvetica, sans-serif;
}
.scale {
	transition: all 0.4s;
}

.scale:hover {
	transform: scale(1.1);
}

/*----------------next level----------------*/
.executive{
  font-size: larger;
  font-weight: normal;
  text-align: center;
  margin: 20px 0;
}
.content-1 {
	position: absolute;
	bottom: 2px;
	background: rgba(255, 255, 255, 0.8);
	color: midnightblue;
	width: 100%;
	padding: 35px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

.content-1 h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
}

.content-1 p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}

.text-center {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.text-center span {
  border-bottom: 1px solid midnightblue;
  color: midnightblue;
	padding-bottom: 4px;
}

/* Clearfix (clear floats) */
.row::after {
	content: '';
	clear: both;
	display: table;
}
.row {
  overflow: hidden;

}
.rear{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
  grid-gap: 15px;
}
.column {
	padding: 10px;
	position: relative;
	margin: 0 2px;
}

.column img {
  vertical-align: middle;
  width: 21vw;
  height: 35vh;
}

.container{
  margin-left: 0px;
  margin-right: 0px;
}
/*---------slideshow css-----------*/
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5.5s;
  animation-name: fade;
  animation-duration: 5.5s;
}
@-webkit-keyframes fade{
  from {opacity: .4;}
  to {opacity: 1;}
}
@keyframes fade{
  from {opacity: .8;}
  to {opacity: 1;}
}
.overlay{
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.712);
	opacity: 0.7;
	width: 100%;
	z-index: 15;
}
.container-z{
	color: white;
	font-size: -webkit-xxx-large;
	padding: 20vh 5vh;
	font-weight: 900;
  font-size: 85px;
  text-align: center;
}
.carousel, .carousel img, .image-darkener, .overlay, .container-z{
	height: 90vh;
  }
.carousel img{
border-style: groove;
}
.carousel-items{
  position: relative;
}
@media only screen and (max-width: 767px) {
	.column {
		width: 100%;
		margin-bottom: 2rem;
		padding: 15px;
	}

	.center {
		margin-top: 0;
  }
  .column img {
    vertical-align: middle;
    width: 100%;
    height: 30vh;
  }
  .rear{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
  }

  .content-1 {
    bottom: 0px;
    color: midnightblue;
    width: 95%;
    padding: 25px;
    text-align: center;
  }
  .container-z{
    padding: 20vh 0;
  }
  .container-z .writing{
    font-size: 55px;
  }
  .hidden-xs{
    display: none;
  }
  .level2{
    padding: 7vh 5vh;
  }
}

.container {
	text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
	content: '';
	clear: both;
	display: table;
}

/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .column img {
    vertical-align: middle;
    width: 45vw;
    height: 30vh;
  }
  .content-1 {
    bottom: 0px;
    color: midnightblue;
    width: 100%;
    padding: 27px;
    text-align: center;
  }
  .rear{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .container-z{
    padding: 25vh 0;
  }
  .hidden-sm{
    display: none;
  }
  .level2{
    padding: 4vh 10vh;
  }
}

/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .column img {
    width: 30vw;
    height: 27vh;
  }
  .content-1 {
    bottom: 0px;
    color: midnightblue;
    width: 100%;
    padding: 30px;
    text-align: center;
  }
  .rear{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .container-z{
    padding: 25vh 0;
  }
  .services-adjuster{
    padding-top: 10vh;
  }
  .hidden-sm{
    display: none;
  }
  .level2{
    padding: 3vh 17vh;
  }
}

@media only screen and (min-width: 1200px) {
  .hidden-lg{
    display: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
}
@media only screen and (min-width: 1600px) and (max-width: 1900px) {
}
