  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

<!---------Off canvas Menu---------------->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="offcanvas__close">+</div>
  <h4>DESPAT LUXURIES</h4>
  <div id="mobile-menu-wrap"></div>
  <div class="logo-section">
    <img src="../assets/desmond.png" alt="logo">
  </div>
</div>
<!-------End menu-------->
<!---------Naviagation bar------------>
<header class="header">
  <div class="container-fluid">
      <div class="row text-center">
        <h4 class="col-md-4">DESPAT LUXURIES</h4>
        <nav class="col-md-8 header__menu">
          <ul class="text-center">
            <li class="nav-item mx-2"><a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Home</a></li>
            <li class="mx-2"><a>Services</a>
              <ul class="dropdown">
                  <li><a [routerLink]="['/services/interior-and-exterior-design']">Interior and Exterior Planing</a></li>
                  <li><a [routerLink]="['/services/home-cleaning']">Home Services</a></li>
                  <li><a [routerLink]="['/services/event-planning']">Event Planing</a></li>
                  <li><a [routerLink]="['/services/art-collections']">Art Collection, Supply and Installation</a></li>
              </ul>
          </li>
            <li class="nav-item mx-2"><a [routerLink]="['/contactus']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Contact</a></li>
            <li class="nav-item mx-2"><a href="#mission" class="nav-link">Mission</a></li>
            <li class="nav-item mx-2"><a [routerLink]="['/aboutus']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">About us</a></li>
          </ul>
        </nav>
      </div>
      <div class="canvas__open">
          <i class="fa fa-bars"></i>
      </div>
  </div>
</header>
<div>
  <router-outlet></router-outlet>
</div>
