  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

<!---------Off canvas Menu---------------->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="offcanvas__close">+</div>
  <h4>EastWing Enterprise</h4>
  <div id="mobile-menu-wrap"></div>
</div>
<!-------End menu-------->
<!---------Naviagation bar------------>
<header class="header">
  <div class="container-fluid">
      <div class="row text-center">
        <h4 class="col-md-4">EastWing Enterprise</h4>
        <nav class="col-md-8 header__menu header__right">
          <ul class="text-center">
            <li class="nav-item mx-2"><a href="#header1" class="nav-link">Home</a></li>
            <li class="nav-item mx-2"><a href="#about" class="nav-link">Services</a></li>
            <li class="nav-item mx-2"><a href="#media" class="nav-link">Contact</a></li>
            <li class="nav-item mx-2"><a href="#contact" class="nav-link">Mission</a></li>
          </ul>
        </nav>
      </div>
      <div class="canvas__open">
          <i class="fa fa-bars"></i>
      </div>
  </div>
</header>
