<section class="classifiedMainLayer">
  <section class="classifiedlayer1">
    <div class="container-fluid fill-screen" style="background-image: url(../../assets/lidye-fJIfOzw_e7U-unsplash.jpg);">
    </div>
  </section>
  <section class="classifiedlayer2">
    <div class="container-fluid fill-screen" style="background-image: url(../../assets/pexels-william-sun-1267438.jpg)">
      </div>
  </section>
  <section class="classifiedlayer3">
    <div>
      <img src="../../assets/yiqun-tang-3o7O_6fi7Qc-unsplash.jpg" alt="">
    </div>
  </section>
</section>
